<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAAsh5f6gRh_qlCpsOBJqxbveut02JSe_g</string>
	<key>GCM_SENDER_ID</key>
	<string>361672344306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.netflixapp</string>
	<key>PROJECT_ID</key>
	<string>rninstaclone-3b49b</string>
	<key>STORAGE_BUCKET</key>
	<string>rninstaclone-3b49b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361672344306:ios:a84c295e7fb3819805866b</string>
</dict>
</plist>